.tt {
  font-family: var(--lobster-font);
  font-weight: 500;
  font-size: 3em;
  background: -webkit-linear-gradient(rgb(255, 156, 17), rgb(189, 17, 86));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
